/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/

.front {
overflow: hidden;
}

.back {
padding: 20px;
position: absolute;
top: 0px;
opacity: 1;
-webkit-backface-visibility: hidden;
transform: rotateY(180deg);
}

.portfolio-item {
position: relative;
}

.portfolio-item:hover {
transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transition: all 1.0s linear;
-webkit-perspective: 1000;
}

.portfolio-item .front {
position: relative;
}